<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>maps.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0DFF84E71DD00E0400887BC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DFF84FB1DD00E0500887BC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DFF85061DD00E0500887BC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
